
nav {
    border-left: 40px;
    padding:10px;
    display: list-item;
    align-items: baseline;

}

.logo {
    width: 100px;
    height: 45px;
    float:left;
}

.searchinput{
    width: 560px;
    padding: 5px;
    margin-left: 10px;
    float: left;

}
.searchButton{
    margin-left: 0px;
    width: 70px;
    padding: 5px;
    float: left;
  
}

.signin {
    margin-right: 10px;
    background-color: blue;
    color: #EEEEEE;
    padding: 5px;
    border: none;
    width: 70px;
    float: inline-end;
    border-radius: 3px;        
    }

    .rightIcons{
    margin-right: 10px;
    background-color: blue;
    color: #EEEEEE;
    padding: 5px;
    border: none;
    width: 70px;
    float:inline-start;
}
.rightnav{
    align-items: baseline;
    float: right;

}

.nav2{
    background-color: blue;
    color: #EEEEEE;
    align-items: baseline;
    padding: 1px;
    margin-top: 40px;
}

div{
    display:table-row;
}