
.nav1 {
    border-left: 0px;
    padding:10px;
    display: list-item;
    align-self: baseline;
    padding-right:0px;
}

.logo {
    width: 100px;
    height: 45px;
    float:left;
    padding: 0px;
}

.langIcon {
    width: 100px;
    height: 45px;
    float:left;
    padding: 0px;
}

.searchinput{
    width: 560px;
    margin-left: 10%;
    float: left;
    padding: 5px;
    margin-top: 5px;
    }

.searchButton{
    margin-left: 0px;
    width: 70px;
    padding: 5px;
    float: left;
    margin-top:5px;
}

.signin {
    background-color: rgb(22, 122, 198);
    color: #EEEEEE;
    padding: 5px;
    border: none;
    width: 70px;
    height:45px;
    float: right;
    border-radius: 3px;
    margin-right: 0px;
    margin-left: 10px;       
    }

    .rightIcons{
    padding-right: 10px;
    color: #EEEEEE;
    padding: 0px;
    border: none;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    
}
.rightnav{
    align-items: baseline;
    float: right;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 10px; 
}

.nav2{
    background-color: rgb(22, 122, 198);
    color: #EEEEEE;
    margin-top: 40px;
    margin-left: 0px;
    display: list-item;
    height: 45px;
    border-left: 40px;
    padding:10px;
    align-self: baseline;
    padding-right:0px;
}
.langText
{   font-size:100%;
    background-color: transparent;
    border-width: 0px; 
    border-style: none; 
    margin: 10px;
    margin-left:120px;
    padding: 0px;
    border-color: white; 
}

.nav3{
 border-width: medium;
 color: black;
 width: 100%;
 font-size: 12pt;
 text-align: justify;
 background-color: transparent;
 border-color: rgb(22, 122, 198);
}

.videobar{
    border-width: medium;
    color: black;
    width: 55%;
    font-size: 12pt;
    text-align: justify;
    background-color: transparent;
    float: left;
    padding-top: 40px;
   }

   .sidebar{
    border-width: medium;
    color: green;
    width: 35%;
    font-size: 12pt;
    text-align: justify;
    background-color: transparent;
    float: right; 
    padding-top: 40px;
    padding-right: 10px;
    margin-left:0px;
    padding-left: 0px;
    display: block;
   }
   .sideIcon{
       width: 200px;
       height: 100px;
       padding:0px;
       margin-left:0px;
       margin-bottom:0px;
   }
   .sideIcon1{
    width: 200px;
    height: 50px;
    padding:0px;
    margin-left:0px;
    margin-bottom:0px;
}
   .ddAlign{
    align-items: center;
    float:left;
    padding:0px; 
   }

   dd{
       padding-left: 0px;
   }

   .btPadd{
       padding:0px;
       margin-left:10px;
       margin-top:0px;
       margin-bottom: 0px;
       text-Indent:10px;
   }

}

.alignViews{
    width:100%;
    align-self: right;
    float: right;
}

.nav{
    margin-left:0px;
    margin-bottom: 10px;
    padding:0px;
}
.nav section {
    display: inline-block;
    margin-left:0px;
    padding: 0px;
    margin-bottom: 10Px;
    overflow: hidden;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}


input.autoplay{
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
  }
  
  input.autoplay:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
  }
  
  input.autoplay:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
  }
  
  input.autoplay:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
  }
  .autoAlign{ align-content: center;}